/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Navigation Bar
#nav-bar {
    height: 18px !important;
    margin: 0px 0px -2px 0px !important;
    padding: 0px 0px 0px 0px !important;
    background: #222 !important;
    border: none !important;
    box-shadow: none !important;
    }
*/

#back-button,
#forward-button {
    display: none !important;
    }


/* Toolbar */
toolbarbutton-1 {
    padding: 0px 0px 0px 0px !important;
    border: none !important;
    }
.toolbarbutton-badge-container {
    min-height: 16px !important;
    padding: 0px 0px 2px 0px !important;
    background: #222 !important;
    border: none !important;
    box-shadow: none !important;
    }
.toolbarbutton-icon {
    width: 15px !important;
    padding: 0px 0px 0px 0px !important;
    border: none !important;
    -moz-binding: none !important;
    }
#PanelUI-button {
    background: none !important;
    }




/* Autocomplete Box
#PopupAutoCompleteRichResult {
    -moz-appearance: none !important;
    }
.main-content, #nav-header {
    background: #222 !important;
    }
richlistbox {
    margin: 0px 0px 0px 0px !important;
    }
richlistitem {
    font: 0.8em 'Roboto' !important;
    color: #FFF !important;
    background: #222 !important;
    height: 20px !important;
    transition: background 0.1s linear !important;
    }
richlistitem[selected="true"] {
    background: #777 !important;
    transition: background 0.1s linear !important;
    }
.ac-normal-text.ac-url-text,
.ac-normal-text.ac-action-text {
    color: #FFF !important;
    }
*/



/* Tab Bar */
.tabbrowser-tab {
    max-width: 200px !important;
    font: 0.8em 'Roboto' !important;
    color: #FFF !important;
    text-decoration: none !important;
    margin: -1px 0 1px 0 !important;
    background: #222 !important;
    }
.tabbrowser-tab[pinned] {
    min-width: 34px !important;
    max-width: 34px !important;
    }
.tabbrowser-tabs {
    min-height: 18px !important;
    margin: 0 0 1px -15px !important;
    background: #222 !important;
    }
.tabbrowser-tab[selected] {
    background: #777 !important;
    }
.tab-background {
    margin: 0px 0px 0px 0px !important;
    background: transparent !important;
    }
.tab-background:hover:not([selected]) {
    background: #444 !important;
    transition: background 0.1s linear !important;
    }
.tab-background-middle {
    margin: 0px 0px 0px 0px !important;
    background: transparent !important;
    }
.tab-content:not([pinned]){
    margin: 0px -7px 0px -5px !important;
    }
.tab-icon-image {
    margin: 0px 6px 0px 0px !important;
    }

.tab-close-button,
.tab-throbber,
.tab-background-start,
.tab-background-end,
.tabbrowser-tab:before,
.tabbrowser-tab:after {
    display: none !important;
    }

#notification-popup-box,
#identity-box,
#reader-mode-button,
.autocomplete-history-dropmarker,
#urlbar-reload-button,
#urlbar-stop-button,
#urlbar-go-button {
    display: none !important;
    }



/* Scroll Bars
scrollbar {
    }
slider {
    background: #222 !important;
    }
scrollbar[orient='vertical'] > scrollbarbutton {
    min-height: 0px !important;
    }
scrollbar[orient='horizontal'] > scrollbarbutton {
    min-width: 0px !important;
    }
thumb {
    -moz-appearance: none !important;
    background: #777 !important;
    border: none !important;
    }
scrollbarbutton {
    -moz-appearance: none !important;
    border: none !important;
    }
*/



/* Add-ons Manager
.addon[selected], .category[selected] {
    -moz-border-start: none !important;
    }
.list > scrollbox > .scrollbox-innerbox {
    border: none !important;
    }
*/
