@-moz-document domain(reddit.com) {

body {
  font: 0.9em 'Roboto' !important;
  }
a, #sr-header-area a {
        color: #999999 !important;
        text-decoration: none !important;
        cursor: default !important;
 
        }
a:hover, #sr-header-area a:hover {
        color: #FFFFFF !important;
        transition: 0.3s linear !important;
        }
 
/* Reddit Header */
#header {
  border: none !important;
  }
#sr-header-area {
  text-transform: none !important;
  border: none;
  background: #222222 !important;
}
 
#header-img.default-header,
#RESShortcutsEditContainer {
  display: none !important;
}
#sr-header-area a.RESShortcutsCurrentSub, .RESShortcutsCurrentSub{
  border-bottom: 3px solid #FFFFFF !important;
  color: #777777 !important;
  }
 
 
/* Subreddit Header */
#header-bottom-left, .res-nightmode #header-bottom-left {
  background: #222222 !important;
  color: #777777 !important;
  font: 1.0em 'Roboto Condensed' !important;
  }
.pagename a {
  font: 1.1em 'Roboto Light' !important;
  color: #FFFFFF !important;
  font-variant: none !important;
  }
.tabmenu li a {
  background: #222222 !important;
  font-weight: normal !important;
  }
.tabmenu li.selected a {
  background: #222222 !important;
  border-bottom: 1px solid #777777 !important;
  }
 
 
.menuarea {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  border: none !important;
  }
 
#header-bottom-right {
  top: 25px !important;
  background: #222222 !important;
  }
.user .userkarma {
  border: none !important;
  }
#userbarToggle {
  display: none !important;
  }
 
 
/* Subreddit */
.organic-listing {
  border: none !important;
  }
.content {
  margin: 0 0 0 0 !important;
  }
.midcol {
  margin: 0 10px 0 0 !important;
  }
.link {
  background: #111111 !important;
  margin: 10px 0 10px 0 !important;
  transition: box-shadow 0.2s linear !important;
  }
.link:hover {
  background: #222222 !important;
        box-shadow: 0 0 10px #666666 !important;
        transition: 0.3s linear !important;
  }
.link .score {
  font: 0.9em 'Roboto Light' !important;
  color: #FFFFFF !important;
  }
.expando-button {
    margin: 30px 5px 2px 0px !important:
    }
.res-nightmode .RES-keyNav-activeElement {
  color: #777777 !important;
  background: none !important;
  }
.entry .buttons li a {
  font: 0.8em 'Roboto' !important;
  }
.entry .buttons li + li {
  padding-left: 0 !important;
  }
 
.link.promotedlink.promoted,
.link .rank,
.nsfw-stamp acronym,
.share-button,
.hide-button,
.action-thing {
  display: none !important;
  }
 
 
/* Sidebar */
#search input[type="text"] {
  width: 270px !important;
  height: 20px !important;
  font: 0.8em 'Roboto', sans-serif !important;
  margin: 0 15px 0 15px !important;
  padding: 0 0 0 8px !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: default !important;
  transition: 0.1s linear !important;
  }
input:hover, input:focus {
  height: 24px !important;
  opacity: 1.0;
  box-shadow: 0 0 4px #FFFFFF;
  }
.morelink {
  border: none !important;
}
.morelink a {
  background: #222222 !important;
  transition: 0.3s linear !important;
}
.morelink a:hover {
  transition: 0.3s linear !important;
  box-shadow: 0 0 4px #FFFFFF;
  }
#ad_main,
div.sidebox.create,
.goldvertisement,
.account-activity-box {
  display: none !important;
  }
 
}
